@CHARSET "UTF-8";


/* thead, th.h2{
    padding-left: 62px;
    padding-bottom: 16px;
    font-size: 18px !important;
}

thead, th.h3{
    padding-left: 40px;
    padding-bottom: 16px;
}

tbody.tvehiculos, th, td {
    font-size: 15px !important;
}

td.c1{	
    padding-left: 15px;
}

td.c2{
    padding-left: 22px;
    padding-right: 33px;
}

td.c3 {
    padding-right: 20px;
}

td.c4 {
    padding-left: 18px;
    padding-right: 30px;
} */
table{
    table-layout: fixed;
    width: 350px;
}

.c2{
    width: 170px;
}
.c1{
    width: 15px;
}

.c3{
    width: 15px;
}
.vel{
    width: 44px;
    min-width: 44px;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
    color: #91b64f;
}


/**
.theme-cutomizer {
    z-index: 99999;
    top: 0;
    width: 360px;
}

.sidenav.right{
	position: fixed;
	transform: translateX(0%);
	right:0px;
	left:auto;
}
*/
